/**
 *     project wysiwyg style
 */

/*
body#tinymce.wp-editor {
    font-family: arial, sans-serif;
    font-size: 14px;
}
body#tinymce.wp-editor a {
    color: blue;
}
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3 {
    font-weight: 700;
}
body#tinymce.wp-editor h2 {
    font-size: 22px;
}
body#tinymce.wp-editor h3 {
    font-size: 18px;
}

*/

body#tinymce.wp-editor {

}

body#tinymce.wp-editor .h-underline {
	font-size: 1.5em;
}

body#tinymce.wp-editor .callout {
    color: #055477;
    font-size: 1.25em;
    line-height: 1.3;
}

body#tinymce.wp-editor .call-to-action {
    margin: 1em 0;
    font-size: 1.3em;
    line-height: 1.3;
    font-weight: bold;
}

body#tinymce.wp-editor .call-to-action a {
    color: #11a2d4;
}
